/app/config/parameters.yml
/build/
/phpunit.xml
!/var/cache
!/var/bootstrap.php.cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
!/var/pdf
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/web/bundles/
/nbproject/private/
