<li class="dropdown user user-menu">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <span class="hidden-xs">Administrador</span>
      </a>
    <ul class="dropdown-menu">
        <li class="user-header">
          <p>
                hola administrador!
              </p>
        </li>
        <li class="user-footer">
                <a href="{{ path("fos_user_security_logout") }}" class="btn btn-default btn-flat">Cerrar sesión</a>
        </li>
    </ul>
</li>
