{% extends 'templates/default.html.twig' %}

{% block content %}
    Productos
    <table>
        <tr>
            <td>
                Producto
            </td>
            <td>
                Cantidad pedida
            </td>
            <td>
                Cantidad recibida
            </td>
        </tr>
        {% for det in pedido.detalle %}
            <tr>
                <td>


                </td>
                <td>
                    {{ det.getCantidadPedida }}
                </td>
                <td>
                    {{ det.getCantidadRecibida }}
                </td>

            </tr>
        {% endfor %}
    </table>

{% endblock %}
